*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: hsl(207, 26%, 17%);
}
.theme{
  background-color: #fafafa;
}
 /* header */
 #header{
  position: -webkit-sticky;
  top: 0;
  position: sticky;

}

.hide{
  display: none;
}
.show{
  display: block;
}

.WorldAnddarkMode{
  display: flex;
  color: whitesmoke;
  gap: 75.9%;
  background-color:  hsl(209, 23%, 22%);
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
.paraWorld{
  font-weight: 500;
}
.SVGion{
  border: 1px solid whitesmoke;
}
.filterIcon{
  width: 20px;
  transform: rotate(270deg);
  width: 20px;
margin-top: -10px;
}
.moonandDarkmode{
  display: flex;
  gap: 5px;
  font-weight: 400;
}
.moonIcon{
  width: 30px;
  height: 25px;
  margin-top: -2px;
}
.inputFilter{
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  gap: 45.8%;
padding-top: 40px;
padding-bottom: 40px;
}

.input{
border-radius: 3px;
  width: 36%;
  height: 42px;
  padding: 16px;
  font-size: 18px;
  background-color:  hsl(209, 23%, 22%);
border: none;
color: whitesmoke;
}
.filterIconandtext{
border-radius: 3px;
  display: flex;
  gap: 18px;
  background-color:  hsl(209, 23%, 22%);
align-items: center;
padding: 10px 20px 10px 20px;
font-size: 16px;
font-weight: 500;
}
.filterpp{
color: whitesmoke;
}


.dropdown-content {
  position: absolute;
  background-color:  hsl(209, 23%, 22%);
  width: 196px;
  z-index: 5;
  right: 99px;
  top: 140px;
  margin-top: 10px;
  border-radius: 2px;
}

.dropdown-content h3 {
  color: rgb(173, 173, 173);
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content h3:hover {
  color: rgb(255, 255, 255);
  background-color: #504f4f;
}



/* main section to api? */
#mainSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 80px;
  gap: 0px;
}
.imgOfcountry{
  width: 100%;
  height: 50%;
  border-radius: 3px 3px 0px 0px;
}

.card {
  background-color:  hsl(209, 23%, 22%);
  margin-bottom: 60px;
color: whitesmoke;
  width: 70%;
  height: 80%;
  border-radius: 3px;
}
.cardtheme {
  background-color:  #ffffff;
  margin-bottom: 60px;
color: #272727;
  width: 70%;
  height: 80%;
  border-radius: 3px;
}
.other{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
padding: 15px;
}

.attribution {
  font-size: 11px;
  padding: 10px;
  text-align: center;
  color: rgb(239, 241, 241);
  color: rgb(3, 3, 3);
  font-size: 15px;
  background-color: rgb(244, 242, 250);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  color: blue;
}


/* theme */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
.mainContianer {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: var(--font-color);
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}
.othertheme{
  color: black;
  background-color: #ffffff;
}





