
.imgOfcountry1{
    width: 37%;
    height: 300px;
}
.backBtn1{
    width: 125px;
    margin-left: 80px;
    text-align: center ;
    padding: 15px;
    background-color: #2b3743;
    margin-top: 50px;
}

.backBtn{
    font-size: 20px;
    color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    border: none;
    color: white;
}

a i ,p {
    border:none;
    }
.backText{
    font-size: 15px;
    border: none;
}
.root1{
    margin-top: 50px;
    margin-left: 80px;
}
.card1{
    display: flex;
    gap: 100px;
}
.other1{
    display: flex;
    gap: 20px   ;
    flex-direction: column;
    padding: 10px;
    color: white;
    margin-top: 20px;
}
.otherInfo{
    display: flex;
    gap: 40px;
}
.flex{
    display: flex;
    gap: 10px;
}
.firstSite{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.SecondSite{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.BorderCountries1{
    color: white;
}
.name{
    font-size: 20px;
}
.otherpage{
    margin-bottom: 90px;
}

.othertheme{
    color: black;
    background-color: #ffffff;
}
.otherthemespecial{
     background-color:black; 
    color: black;

}


